{% extends 'app_base.html' %}
{% load staticfiles %}
{% block content %}
  <div class='container'>
    <ul>
    {% for post in object_list %}
        <li><img src="{{ post.logo_restaurant }}" class="img-responsive"></li>
        <li><a href="{% url 'post-detail' pk=post.pk %}">{{ post.restaurant_namme }}</a></li>
        <li>{{ post.address }}</li>
        <li>Job:</li>
          <ul>
            {% for job in post.job_set.all %}
              <li>{{ job.name }}</li>
            {% endfor %}
          </ul>
        <li>{{ post.detail_job }}</li>

    {% empty %}
        <li>Không tồn tại</li>
    {% endfor %}
  </ul>

{% if is_paginated %}
<ul class="pagination">
{% if page_obj.has_previous %}
    <li>
        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
    </li>
{% endif %}
    <li class="">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    </li>
{% if page_obj.has_next %}
    <li>
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
    </li>
{% endif %}
</ul>
{% endif %}

  </div>
{% endblock %}
