{% extends 'app_base.html' %}
{% load staticfiles %}
{% block content %}
  <div class='container'>
    {% for post in object_list %}
    <p>{{tags}}</p>
    <div class="row content">
          <div class="col-sm-2 hoalip">
            <div class="picture"><img src="{{ post.logo_restaurant }}" class="img-responsive image_carousel"></a></div>
          </div>
          <div class="col-sm-10 tutulip">
              <div class="deadline">
                <a href="{% url 'post-detail' pk=post.pk %}"><strong class="tulip">{{ post.restaurant_namme }}</strong></a>
                <p>{{ post.address }} </p>
                {% for job in post.job_set.all %}
                <p>{{ job.name }}</p>
                {% endfor %}
                <p>Hạn nộp: {{ post.deadline }}</p>
              </div>
          </div>
        </div>
        <hr>
      {% empty %}
          <p>Không tồn tại</p>
      {% endfor %}
{% if is_paginated %}
<div class="next">
<ul class="pagination">
{% if page_obj.has_previous %}
    <li>
        <span><a href="?page={{ page_obj.previous_page_number }}">Previous</a></span>
    </li>
{% endif %}
    <li class="">
        <span>Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.</span>
    </li>
{% if page_obj.has_next %}
    <li>
        <span><a href="?page={{ page_obj.next_page_number }}">Next</a></span>
    </li>
{% endif %}
</ul>
{% endif %}
</div>
  </div>

  <script>
  $( function() {
    var availableTags = [
      {% for suggest in suggests %}
          "{{suggest}}",
      {% endfor %}
    ];
    $( "#tags" ).autocomplete({
      source: availableTags
    });
  } );
  </script>
{% endblock %}
